.movies {
    background-color: #202020;
    min-height: 100vh;
}

.movies__button {
    width: 320px;
    height: 36px;
    border-radius: 6px;
    border: solid 1px #424242;
    padding: 11px 60px 9px;
    background: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 80px;
}

.movies__button:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .movies__button {
        margin-bottom: 89px;
    }
}

@media (max-width: 400px) {
    .movies__button {
        width: 240px;
        margin-bottom: 80px;
    }
}