.profile {
    background: #202020;
    padding-bottom: 70px;
    text-align: center;
    height: 100vh;
}

.profile__heading {
    padding-top: 75px;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 107px;
    margin: 0;
}

.profile__form {
    max-width: 410px;
    margin: 0 auto;
}

.profile__btn-container {
    display: flex;
    flex-direction: column;
}

.profile__input {
    font-family: inherit;
    background: none;
    border: none;
    display: block;
    color: white;
    font-size: 11px;
    font-weight: 400;
    outline-style: none;
    padding: 16px 0;
    width: 100%;
    text-align: end;
}

.profile__label:first-of-type {
    border-bottom: 1px solid #424242;
}

.profile__label {
    font-family: inherit;
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-align: start;
    display: flex;
}

.profile__placeholder {
    padding: 16px 0;
    width: 141px;
}

.profile__button {
    background: inherit;
    border: 0;
    font-family: inherit;
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

.profile__btn {
    font-size: 13px;
    background: none;
    border: none;
    margin-top: 60px;
    padding: 0;
    color: #fff;
    cursor: pointer;
    align-self: center;
    transition: all 0.5s ease;
}

.profile__btn-save {
    border-radius: 3px;
    background: #3456F3;
    width: 100%;
    padding: 15px 0;
}

.profile__btn_anactive {
    opacity: 0.8;
    background: #ffffffa4;
    cursor: auto;
}

.profile__button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.update-profile__button {
    color: white;
    padding-top: 204px;
    padding-bottom: 16px;
}

@media (max-width: 768px) {
    .profile {
        padding-bottom: 269px;
    }

    .profile__heading {
        padding-top: 230px;
        padding-bottom: 82px;
    }

    .update-profile__button {
        padding-top: 200px;
    }
}

@media (max-width: 470px) {
    .profile__form {
        margin: 0 30px;
    }

    .profile__heading {
        padding-top: 65px;
        padding-bottom: 66px;
    }

}

@media (max-width: 320px) {
    .profile {
        padding-bottom: 50px;
    }

    .profile__button {
        font-size: 12px;
    }

    .update-profile__button {
        padding-top: 367px;
    }

}