.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 70px 18px;
    align-items: center;
    background-color: #202020;
}

.header_main {
    background-color: #073042;
}

.header__logo:hover {
    opacity: 80%;
}

.header__burger {
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    background-image: url(../../images/burger-icon.svg);
}

@media (max-width: 768px) {
    .header {
        padding: 18px 30px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 18px 14px;
    }
}