.search-form {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #424242;
    color: #8B8B8B;
    padding-top: 68px;
    padding-bottom: 12px;
    margin: 0 70px 25px;
}

.search-form__inp {
    font-family: inherit;
    color: white;
    background-color: inherit;
    border: none;
    font-size: 28px;
    font-weight: 500;
    display: block;
    width: 100%;
    outline-style: none;
}

.search-form__button {
    width: 34px;
    height: 34px;
    background-color: #3456F3;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-form__button:hover {
    opacity: 80%;
}

.search-form__button_icon {
    background: url(../../../images/search-form.svg) center content-box;
    width: 8px;
    height: 12px;
}

@media (max-width: 768px) {
    .search-form {
        margin: 5px 30px 25px;
    }
}

@media (max-width: 320px) {
    .search-form {
        margin: 90px 14px 41px;
    }

    .search-form__inp {
        font-size: 18px;
        font-weight: 500;
    }
}